@primary-color: #00a971; // 全局主色
@primary: #00a971;
@link-color: #00a971; // 链接色
@success-color: #52c41a; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #f5222d; // 错误色
@font-size-base: 14px; // 主字号
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@text-color: rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base: 0px; // 组件/浮层圆角
@border-color-base: #d9d9d9; // 边框色
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); //
@min-width: 1200px; // 内容区域宽度
@banner-title: 40px; // banner 标题文字大小
@banner-button: 24px; // banner 按钮文字大小
@banner-text: 16px; // banner 内容文字大小
@m-top-1: 120px;
@m-top-2: 80px;
@m-top-3: 40px;
